<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cprogramming.example.cprogramming.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cprogramming.example.cprogramming.test.Q18" />
        <activity android:name="cprogramming.example.cprogramming.test.Q17" />
        <activity android:name="cprogramming.example.cprogramming.test.Q16" />
        <activity android:name="cprogramming.example.cprogramming.test.Q15" />
        <activity android:name="cprogramming.example.cprogramming.test.Q14" />
        <activity android:name="cprogramming.example.cprogramming.test.Q13" />
        <activity android:name="cprogramming.example.cprogramming.test.Q12" />
        <activity android:name="cprogramming.example.cprogramming.test.Q11" />
        <activity android:name="cprogramming.example.cprogramming.test.Q10" />
        <activity android:name="cprogramming.example.cprogramming.test.Q9" />
        <activity android:name="cprogramming.example.cprogramming.test.Q8" />
        <activity android:name="cprogramming.example.cprogramming.test.Q7" />
        <activity android:name="cprogramming.example.cprogramming.test.Q6" />
        <activity android:name="cprogramming.example.cprogramming.test.Q5" />
        <activity android:name="cprogramming.example.cprogramming.test.Q4" />
        <activity android:name="cprogramming.example.cprogramming.test.Q3" />
        <activity android:name="cprogramming.example.cprogramming.test.Q1" />
        <activity android:name="cprogramming.example.cprogramming.test.Q2" />
        <activity android:name="cprogramming.example.cprogramming.test.Theoretical" />
        <activity android:name="cprogramming.example.cprogramming.test.Optional" />
        <activity android:name="cprogramming.example.cprogramming.test.T26" />
        <activity android:name="cprogramming.example.cprogramming.test.T25" />
        <activity android:name="cprogramming.example.cprogramming.test.T24" />
        <activity android:name="cprogramming.example.cprogramming.test.T23" />
        <activity android:name="cprogramming.example.cprogramming.test.T22" />
        <activity android:name="cprogramming.example.cprogramming.test.T21" />
        <activity android:name="cprogramming.example.cprogramming.test.T20" />
        <activity android:name="cprogramming.example.cprogramming.test.T19" />
        <activity android:name="cprogramming.example.cprogramming.test.T18" />
        <activity android:name="cprogramming.example.cprogramming.test.T17" />
        <activity android:name="cprogramming.example.cprogramming.test.T16" />
        <activity android:name="cprogramming.example.cprogramming.test.T15" />
        <activity android:name="cprogramming.example.cprogramming.test.T14" />
        <activity android:name="cprogramming.example.cprogramming.test.T13" />
        <activity android:name="cprogramming.example.cprogramming.test.T12" />
        <activity android:name="cprogramming.example.cprogramming.test.T11" />
        <activity android:name="cprogramming.example.cprogramming.test.T10" />
        <activity android:name="cprogramming.example.cprogramming.test.T9" />
        <activity android:name="cprogramming.example.cprogramming.test.T8" />
        <activity android:name="cprogramming.example.cprogramming.test.T7" />
        <activity android:name="cprogramming.example.cprogramming.test.T6" />
        <activity android:name="cprogramming.example.cprogramming.test.T5" />
        <activity android:name="cprogramming.example.cprogramming.test.T4" />
        <activity android:name="cprogramming.example.cprogramming.test.T3" />
        <activity android:name="cprogramming.example.cprogramming.test.T2" />
        <activity android:name="cprogramming.example.cprogramming.test.T1" />
        <activity android:name="cprogramming.example.cprogramming.test.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cprogramming.example.cprogramming.test.MainActivity" />
        <activity android:name="cprogramming.example.cprogramming.test.Programs"
            android:windowSoftInputMode="stateHidden">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="cprogramming.example.cprogramming.test.Tutorials" />
        <activity android:name="cprogramming.example.cprogramming.test.Quiz" />
        <activity android:name="cprogramming.example.cprogramming.test.Questions" />
        <activity android:name="cprogramming.example.cprogramming.test.Setting" />
        <activity android:name="cprogramming.example.cprogramming.test.Reference" />
        <activity android:name="cprogramming.example.cprogramming.test.About" />
        <activity android:name="cprogramming.example.cprogramming.test.P1" />
        <activity android:name="cprogramming.example.cprogramming.test.P2" />
        <activity android:name="cprogramming.example.cprogramming.test.P3" />
        <activity android:name="cprogramming.example.cprogramming.test.P4" />
        <activity android:name="cprogramming.example.cprogramming.test.P5" />
        <activity android:name="cprogramming.example.cprogramming.test.P6" />
        <activity android:name="cprogramming.example.cprogramming.test.P7" />
        <activity android:name="cprogramming.example.cprogramming.test.P8" />
        <activity android:name="cprogramming.example.cprogramming.test.P9" />
        <activity android:name="cprogramming.example.cprogramming.test.P10" />
        <activity android:name="cprogramming.example.cprogramming.test.P11" />
        <activity android:name="cprogramming.example.cprogramming.test.P12" />
        <activity android:name="cprogramming.example.cprogramming.test.P13" />
        <activity android:name="cprogramming.example.cprogramming.test.P14" />
        <activity android:name="cprogramming.example.cprogramming.test.P15" />
        <activity android:name="cprogramming.example.cprogramming.test.P16" />
        <activity android:name="cprogramming.example.cprogramming.test.P17" />
        <activity android:name="cprogramming.example.cprogramming.test.P18" />
        <activity android:name="cprogramming.example.cprogramming.test.P19" />
        <activity android:name="cprogramming.example.cprogramming.test.P20" />
        <activity android:name="cprogramming.example.cprogramming.test.P21" />
        <activity android:name="cprogramming.example.cprogramming.test.P25" />
        <activity android:name="cprogramming.example.cprogramming.test.P22" />
        <activity android:name="cprogramming.example.cprogramming.test.P23" />
        <activity android:name="cprogramming.example.cprogramming.test.P24" />
        <activity android:name="cprogramming.example.cprogramming.test.P26" />
        <activity android:name="cprogramming.example.cprogramming.test.P27" />
        <activity android:name="cprogramming.example.cprogramming.test.P28" />
        <activity android:name="cprogramming.example.cprogramming.test.P29" />
        <activity android:name="cprogramming.example.cprogramming.test.P30" />
        <activity android:name="cprogramming.example.cprogramming.test.P31" />
        <activity android:name="cprogramming.example.cprogramming.test.P32" />
        <activity android:name="cprogramming.example.cprogramming.test.P33" />
        <activity android:name="cprogramming.example.cprogramming.test.P34" />
        <activity android:name="cprogramming.example.cprogramming.test.P35" />
        <activity android:name="cprogramming.example.cprogramming.test.P36" />
        <activity android:name="cprogramming.example.cprogramming.test.P37" />
        <activity android:name="cprogramming.example.cprogramming.test.P38" />
        <activity android:name="cprogramming.example.cprogramming.test.P39" />
        <activity android:name="cprogramming.example.cprogramming.test.P40" />
        <activity android:name="cprogramming.example.cprogramming.test.P41" />
        <activity android:name="cprogramming.example.cprogramming.test.P42" />
        <activity android:name="cprogramming.example.cprogramming.test.P43" />
        <activity android:name="cprogramming.example.cprogramming.test.P44" />
        <activity android:name="cprogramming.example.cprogramming.test.P45" />
        <activity android:name="cprogramming.example.cprogramming.test.P46" />
        <activity android:name="cprogramming.example.cprogramming.test.P47" />
        <activity android:name="cprogramming.example.cprogramming.test.P48" />
        <activity android:name="cprogramming.example.cprogramming.test.P49" />
        <activity android:name="cprogramming.example.cprogramming.test.P50" />
        <activity android:name="cprogramming.example.cprogramming.test.P51" />
        <activity android:name="cprogramming.example.cprogramming.test.P52" />
        <activity android:name="cprogramming.example.cprogramming.test.P53" />
        <activity android:name="cprogramming.example.cprogramming.test.P54" />
        <activity android:name="cprogramming.example.cprogramming.test.P55" />
        <activity android:name="cprogramming.example.cprogramming.test.P56" />
        <activity android:name="cprogramming.example.cprogramming.test.P57" />
        <activity android:name="cprogramming.example.cprogramming.test.P58" />
        <activity android:name="cprogramming.example.cprogramming.test.P59" />
        <activity android:name="cprogramming.example.cprogramming.test.P60" />
        <activity android:name="cprogramming.example.cprogramming.test.P61" />
        <activity android:name="cprogramming.example.cprogramming.test.P62" />
        <activity android:name="cprogramming.example.cprogramming.test.P63" />
        <activity android:name="cprogramming.example.cprogramming.test.P64" />
        <activity android:name="cprogramming.example.cprogramming.test.P65" />
        <activity android:name="cprogramming.example.cprogramming.test.P66" />
        <activity android:name="cprogramming.example.cprogramming.test.P67" />
        <activity android:name="cprogramming.example.cprogramming.test.P68" />
        <activity android:name="cprogramming.example.cprogramming.test.P69" />
        <activity android:name="cprogramming.example.cprogramming.test.P70" />
        <activity android:name="cprogramming.example.cprogramming.test.P71" />
        <activity android:name="cprogramming.example.cprogramming.test.P72" />
        <activity android:name="cprogramming.example.cprogramming.test.P73" />
        <activity android:name="cprogramming.example.cprogramming.test.P74" />
        <activity android:name="cprogramming.example.cprogramming.test.P75" />
        <activity android:name="cprogramming.example.cprogramming.test.P76" />
        <activity android:name="cprogramming.example.cprogramming.test.P77" />
        <activity android:name="cprogramming.example.cprogramming.test.P78" />
        <activity android:name="cprogramming.example.cprogramming.test.P79" />
        <activity android:name="cprogramming.example.cprogramming.test.P80" />
        <activity android:name="cprogramming.example.cprogramming.test.P81" />
        <activity android:name="cprogramming.example.cprogramming.test.P82" />
        <activity android:name="cprogramming.example.cprogramming.test.P83" />
        <activity android:name="cprogramming.example.cprogramming.test.P84" />
        <activity android:name="cprogramming.example.cprogramming.test.P85" />
        <activity android:name="cprogramming.example.cprogramming.test.P86" />
        <activity android:name="cprogramming.example.cprogramming.test.P87" />
        <activity android:name="cprogramming.example.cprogramming.test.P88" />
        <activity android:name="cprogramming.example.cprogramming.test.P89" />
        <activity android:name="cprogramming.example.cprogramming.test.P90" />
        <activity android:name="cprogramming.example.cprogramming.test.P91" />
        <activity android:name="cprogramming.example.cprogramming.test.P92" />
        <activity android:name="cprogramming.example.cprogramming.test.P93" />
        <activity android:name="cprogramming.example.cprogramming.test.P94" />
        <activity android:name="cprogramming.example.cprogramming.test.P95" />
        <activity android:name="cprogramming.example.cprogramming.test.P96" />
        <activity android:name="cprogramming.example.cprogramming.test.P97" />
        <activity android:name="cprogramming.example.cprogramming.test.P98" />
        <activity android:name="cprogramming.example.cprogramming.test.P99" />
        <activity android:name="cprogramming.example.cprogramming.test.P100" />
    </application>

</manifest>